!!! 5
html
  head
    title Am I There Yet?
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=false')
    meta(name='apple-mobile-web-app-capable', content='yes')
    link(rel='stylesheet', href='css/jquery.mobile-1.0.min.css')
    link(rel='stylesheet', href='css/lightBlue.css')
    link(href='http://fonts.googleapis.com/css?family=Lobster', rel='stylesheet', type='text/css') 
    script(type='text/javascript', src='js/jquery.js')
    script(type='text/javascript', src='js/jquery.mobile-1.0.min.js')
    script
      $(document).ready(function(){
         $("#submit").click(function()
        {          
          new getLocation();
        });
      });
      function get_fb(position){
      var feedback = $.ajax({
      type: "post",
      data: {"start":{"latitude":position.coords.latitude,"longitude":position.coords.longitude},"end":{"latitude":$("#latitude").val(),"longitude":$("#longitude").val()}
      },
      url: "/distance",
      async: false
      }).responseText;
      $('#result').html(feedback);
      }
    script      
      function getLocation()
      {
      if (navigator.geolocation)
      {
      navigator.geolocation.getCurrentPosition(get_fb);
      }
      else{$("#result").innerHTML="Geolocation is not supported by this browser.";}
      }

  body     
    div(data-role='page')
      header(data-role='header')
        h1 Enter Co-Ordinates
        hr.divider        
        input#latitude(type="text", name="latitude", value="54.5759067", style="width: 48%; float:left; text-align: right")
        input#longitude(type="text", name="longitude", value="-5.9170547", style="width: 49%; float:right")
      button#submit(type="submit") How Far

      textarea#result(style='color: black !important; font-size:250% !important; text-align:center')